<!DOCTYPE html>
<html lang="en" class="scroll-smooth group" data-sidebar="brand" dir="ltr">
    
<!-- Mirrored from mannatthemes.com/robotech/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Mar 2024 08:17:38 GMT -->
<head>
        <meta charset="utf-8" />
        <title>Dry Vitals - Admin & Dashboard</title>
        <meta  name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta  content="Tailwind Multipurpose Admin & Dashboard Template"  name="description"/>
        <meta content="" name="Mannatthemes" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        {{!-- <link rel="shortcut icon" href="assets/images/favicon.ico" /> --}}
        
        <!-- Css -->
        <!-- Main Css -->
        <link rel="stylesheet" href="assets/libs/icofont/icofont.min.css">
        <link href="assets/libs/flatpickr/flatpickr.min.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/tailwind.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap Icons -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
    
<body data-layout-mode="light"  data-sidebar-size="default" data-theme-layout="vertical" class="bg-[#EEF0FC] dark:bg-gray-900">
    
        <!-- leftbar-tab-menu -->
        

        <div class="min-h-full z-[99]  fixed inset-y-0 print:hidden bg-gradient-to-t from-[#6f3dc3] from-10% via-[#603dc3] via-40% to-[#5c3dc3] to-100% dark:bg-[#603dc3] main-sidebar duration-300 group-data-[sidebar=dark]:bg-[#603dc3] group-data-[sidebar=brand]:bg-brand group-[.dark]:group-data-[sidebar=brand]:bg-[#603dc3]">
            
            <div class="border-r pb-14 h-[100vh] dark:bg-[#603dc3] dark:border-slate-700/40 group-data-[sidebar=dark]:border-slate-700/40 group-data-[sidebar=brand]:border-slate-700/40" data-simplebar>
                <div class="p-4 block">
                    <ul class="navbar-nav">
                        <li class="uppercase text-[11px]  text-primary-500 dark:text-primary-400 mt-0 leading-4 mb-2 group-data-[sidebar=dark]:text-primary-400 group-data-[sidebar=brand]:text-primary-300">
                           <span class="text-[9px] text-slate-600 dark:text-slate-500 group-data-[sidebar=dark]:text-slate-500 group-data-[sidebar=brand]:text-slate-400">DashboardS & Apps</span></li>
                        <li>


                            {{!-- admin section --}}
                            <div id="parent-accordion" data-fc-type="accordion">
                                <a href="#"
                                   class="nav-link hover:bg-transparent hover:text-black  rounded-md dark:hover:text-slate-200   flex items-center  decoration-0 px-3 py-3 cursor-pointer group-data-[sidebar=dark]:hover:text-slate-200 group-data-[sidebar=brand]:hover:text-slate-200 "
                                   data-fc-type="collapse" data-fc-parent="parent-accordion">
                                    <span data-lucide="home"
                                          class="w-5 h-5 text-center text-slate-800 dark:text-slate-400 me-2 group-data-[sidebar=dark]:text-slate-400 group-data-[sidebar=brand]:text-slate-400"></span>
                                    <span>Admin</span>
                                    <i class="icofont-thin-down ms-auto inline-block text-[14px] transform transition-transform duration-300 text-slate-800 dark:text-slate-400 group-data-[sidebar=dark]:text-slate-400 group-data-[sidebar=brand]:text-slate-400 fc-collapse-open:rotate-180 "></i>
                                </a>

                                <div id="Admin-flush" class="hidden  overflow-hidden">
                                    <ul class="nav flex-col flex flex-wrap ps-0 mb-0 ms-2">
                                        <li class="nav-item relative block">
                                            <a href="/admin/index"
                                               class="nav-link  hover:text-primary-500  rounded-md dark:hover:text-primary-500 relative   flex items-center decoration-0 px-3 py-3 group-data-[sidebar=brand]:hover:text-slate-200">
                                                <i class="icofont-dotted-right me-2 text-slate-600 text-[8px] group-data-[sidebar=brand]:text-slate-400 "></i>
                                                Dashboard
                                            </a>
                                        </li>
                                        
                                        <li class="nav-item relative block">
                                            <a href="/admin/addCatagory"
                                               class="nav-link  hover:text-primary-500  rounded-md dark:hover:text-primary-500 relative   flex items-center decoration-0 px-3 py-3 group-data-[sidebar=brand]:hover:text-slate-200">
                                                <i class="icofont-dotted-right me-2 text-slate-600 text-[8px] group-data-[sidebar=brand]:text-slate-400"></i>
                                               Add Catagory
                                            </a>
                                        </li>
                                         <li class="nav-item relative block">
                                            <a href="/admin/catagoryList"
                                               class="nav-link  hover:text-primary-500  rounded-md dark:hover:text-primary-500 relative   flex items-center decoration-0 px-3 py-3 group-data-[sidebar=brand]:hover:text-slate-200">
                                                <i class="icofont-dotted-right me-2 text-slate-600 text-[8px] group-data-[sidebar=brand]:text-slate-400"></i>
                                                Catagory List
                                            </a>
                                        </li>
                                        <li class="nav-item relative block">
                                            <a href="/admin/addProduct"
                                               class="nav-link  hover:text-primary-500  rounded-md dark:hover:text-primary-500 relative   flex items-center decoration-0 px-3 py-3 group-data-[sidebar=brand]:hover:text-slate-200">
                                                <i class="icofont-dotted-right me-2 text-slate-600 text-[8px] group-data-[sidebar=brand]:text-slate-400"></i>
                                               Add New Product
                                            </a>
                                        </li>
                                        <li class="nav-item relative block">
                                            <a href="/admin/productList"
                                               class="nav-link  hover:text-primary-500  rounded-md dark:hover:text-primary-500 relative   flex items-center decoration-0 px-3 py-3 group-data-[sidebar=brand]:hover:text-slate-200">
                                                <i class="icofont-dotted-right me-2 text-slate-600 text-[8px] group-data-[sidebar=brand]:text-slate-400"></i>
                                                Products
                                            </a>
                                        </li>
                                        <li class="nav-item relative block">
                                            <a href="/admin/userList"
                                               class="nav-link  hover:text-primary-500  rounded-md dark:hover:text-primary-500 relative   flex items-center decoration-0 px-3 py-3 group-data-[sidebar=brand]:hover:text-slate-200">
                                                <i class="icofont-dotted-right me-2 text-slate-600 text-[8px] group-data-[sidebar=brand]:text-slate-400"></i>
                                                Users
                                            </a>
                                        </li>
                                        
                                        <li class="nav-item relative block">
                                            <a href="/admin/orderList"
                                               class="nav-link  hover:text-primary-500  rounded-md dark:hover:text-primary-500 relative   flex items-center decoration-0 px-3 py-3 group-data-[sidebar=brand]:hover:text-slate-200">
                                                <i class="icofont-dotted-right me-2 text-slate-600 text-[8px] group-data-[sidebar=brand]:text-slate-400"></i>
                                                Orders
                                            </a>
                                        </li>
                                        
                                        
                                    </ul>                            
                                </div>

                                <div class="border-b border-dashed dark:border-slate-700/40 my-3 group-data-[sidebar=dark]:border-slate-700/40 group-data-[sidebar=brand]:border-slate-700/40"></div>
                               
                                
                                

                                

                                
                                
                                
                            </div>
                        </li>
                    </ul>
                  
                </div>
            </div>
        </div>

        
            <nav id="topbar" class="topbar border-b  dark:border-slate-700/40  fixed inset-x-0  duration-300
             block print:hidden z-50">
            <div class="mx-0 flex max-w-full flex-wrap items-center lg:mx-auto relative top-[50%] start-[50%] transform -translate-x-1/2 -translate-y-1/2">
              <div class="ltr:mx-2  rtl:mx-2">
                <button id="toggle-menu-hide" class="button-menu-mobile flex rounded-full md:me-0 relative">
                  <!-- <i class="ti ti-chevrons-left text-3xl  top-icon"></i> -->
                  <i data-lucide="menu" class="top-icon w-5 h-5"></i>
                </button>
              </div>
              
      
              <div class="order-1 ltr:ms-auto rtl:ms-0 rtl:me-auto flex items-center md:order-2">
                <div class="ltr:me-2 ltr:md:me-4 rtl:me-0 rtl:ms-2 rtl:lg:me-0 rtl:md:ms-4 dropdown relative">
                  <button
                    type="button"
                    class="dropdown-toggle flex rounded-full md:me-0"
                    aria-expanded="false"
                     data-fc-autoclose="both" data-fc-type="dropdown">
                    <span data-lucide="search" class="top-icon w-5 h-5"></span>
                  </button>

                  <div
                    class="left-auto right-0 z-50 my-1 hidden min-w-[300px]
                    list-none divide-y  divide-gray-100 rounded-md border-slate-700
                    md:border-white text-base shadow dark:divide-gray-600 bg-white
                    dark:bg-slate-800" onclick="event.stopPropagation()">
                    <div class="relative">
                      <div
                        class="pointer-events-none absolute inset-y-0 left-0 flex items-center
                        pl-3">
                        <i class="ti ti-search text-gray-400 z-10"></i>
                      </div>
                      <input
                        type="text"
                        id="email-adress-icon"
                        class="block w-full rounded-lg border border-slate-200 dark:border-slate-700/60 bg-slate-200/10 p-1.5
                        pl-10 text-slate-600 dark:text-slate-400 outline-none focus:border-slate-300
                        focus:ring-slate-300 dark:bg-slate-800/20 sm:text-sm"
                        placeholder="Search..."
                        />
                    </div>
                  </div>
                </div>
                <div class="ltr:me-2 ltr:md:me-4 rtl:me-0 rtl:ms-2 rtl:lg:me-0 rtl:md:ms-4">

                  <button id="toggle-theme" class="flex rounded-full md:me-0 relative">
                    <span data-lucide="moon" class="top-icon w-5 h-5 light "></span>
                    <span data-lucide="sun" class="top-icon w-5 h-5 dark hidden"></span>
                  </button>
                </div>
                <div class="ltr:me-2 ltr:lg:me-4 rtl:me-0 rtl:ms-2 rtl:lg:me-0 rtl:md:ms-4 dropdown relative">
                  <button
                    type="button"
                    class="dropdown-toggle flex rounded-full md:me-0"
                    id="Notifications"
                    aria-expanded="false"
                     data-fc-autoclose="both" data-fc-type="dropdown">
                    <span data-lucide="bell" class="top-icon w-5 h-5"></span>
                  </button>

                  <div
                    class="left-auto right-0 z-50 my-1 hidden w-64
                    list-none divide-y h-52 divide-gray-100 rounded border border-slate-700/10
                   text-base shadow dark:divide-gray-600 bg-white
                    dark:bg-slate-800"
                    id="navNotifications" data-simplebar>
                    <ul class="py-1" aria-labelledby="navNotifications">
                      <li class="py-2 px-4">
                        <a href="javascript:void(0);" class="dropdown-item">
                          <div class="flex">
                              <div class="h-8 w-8 rounded-full bg-primary-500/20 inline-flex me-3">
                                <span data-lucide="shopping-cart" class="w-4 h-4 inline-block text-primary-500 dark:text-primary-400 self-center mx-auto"></span>
                              </div>
                            <div class="flex-grow flex-1 ms-0.5 overflow-hidden">
                              <p class="text-sm font-medium text-gray-900 truncate
                                dark:text-gray-300">Karen Robinson</p>
                              <p class="text-gray-500 mb-0 text-xs truncate
                                dark:text-gray-400">
                                Hey ! i'm available here
                              </p>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="py-2 px-4">
                        <a href="javascript:void(0);" class="dropdown-item">
                          <div class="flex">
                            <img class="object-cover rounded-full h-8 w-8 shrink-0 me-3"
                              src="assets/images/users/avatar-3.png" alt="logo" />
                            <div class="flex-grow flex-1 ms-0.5 overflow-hidden">
                              <p class="text-sm font-medium text-gray-900 truncate
                                dark:text-gray-300">Your order is placed</p>
                              <p class="text-gray-500 mb-0 text-xs truncate
                                dark:text-gray-400">
                                Dummy text of the printing and industry.
                              </p>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="py-2 px-4">
                        <a href="javascript:void(0);" class="dropdown-item">
                          <div class="flex">
                            <div class="h-8 w-8 rounded-full bg-primary-500/20 inline-flex me-3">
                              <span data-lucide="user" class="w-4 h-4 inline-block text-primary-500 dark:text-primary-400 self-center mx-auto"></span>
                            </div>
                            <div class="flex-grow flex-1 ms-0.5 overflow-hidden">
                              <p class="text-sm font-medium text-gray-900 truncate
                                dark:text-gray-300">Robert McCray</p>
                              <p class="text-gray-500 mb-0 text-xs truncate
                                dark:text-gray-400">
                                Good Morning!
                              </p>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="py-2 px-4">
                        <a href="javascript:void(0);" class="dropdown-item">
                          <div class="flex">
                            <img class="object-cover rounded-full h-8 w-8 shrink-0 me-3"
                              src="assets/images/users/avatar-9.png" alt="logo" />
                            <div class="flex-grow flex-1 ms-0.5 overflow-hidden">
                              <p class="text-sm font-medium  text-gray-900 truncate
                                dark:text-gray-300">Meeting with designers</p>
                              <p class="text-gray-500 mb-0 text-xs truncate
                                dark:text-gray-400">
                                It is a long established fact that a reader.
                              </p>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="me-2  dropdown relative">
                  <button
                    type="button"
                    class="dropdown-toggle flex items-center rounded-full text-sm
                    focus:bg-none focus:ring-0 dark:focus:ring-0 md:me-0"
                    id="user-profile"
                    aria-expanded="false"
                     data-fc-autoclose="both" data-fc-type="dropdown">
                    <img
                      class="h-8 w-8 rounded-full"
                      src="assets/images/users/avatar-1.png"
                      alt="user photo"
                      />
                    <span class="ltr:ms-2 rtl:ms-0 rtl:me-2 hidden text-left xl:block">
                      <span class="block font-medium text-slate-600 dark:text-gray-300">{{admin.email}}</span>
                      <span class="-mt-0.5 block text-xs text-slate-500 dark:text-gray-400">Admin</span>
                    </span>
                  </button>

                  <div
                    class="left-auto right-0 z-50 my-1 hidden list-none
                    divide-y divide-gray-100 rounded border border-slate-700/10
                    text-base shadow dark:divide-gray-600 bg-white dark:bg-slate-800 w-40"
                    id="navUserdata">
            
                    <ul class="py-1" aria-labelledby="navUserdata">
                      <li>
                        <a
                          href="#"
                          class="flex items-center py-2 px-3 text-sm text-gray-700 hover:bg-gray-50
                          dark:text-gray-200 dark:hover:bg-gray-900/20
                          dark:hover:text-white">
                          <span data-lucide="user"
                                          class="w-4 h-4 inline-block text-slate-800 dark:text-slate-400 me-2"></span>
                          Profile</a>
                      </li>
                      <li>
                        <a
                          href="#"
                          class="flex items-center py-2 px-3 text-sm text-gray-700 hover:bg-gray-50
                          dark:text-gray-200 dark:hover:bg-gray-900/20
                          dark:hover:text-white">
                          <span data-lucide="settings"
                                          class="w-4 h-4 inline-block text-slate-800 dark:text-slate-400 me-2"></span>
                          Settings</a>
                      </li>
                      <li>
                        <a
                          href="#"
                          class="flex items-center py-2 px-3 text-sm text-gray-700 hover:bg-gray-50
                          dark:text-gray-200 dark:hover:bg-gray-900/20
                          dark:hover:text-white">
                          <span data-lucide="dollar-sign"
                                          class="w-4 h-4 inline-block text-slate-800 dark:text-slate-400 me-2"></span>
                          Earnings</a>
                      </li>
                      <li>
                        <a
                          href="/admin/adminLogOut"
                          class="flex items-center py-2 px-3 text-sm text-red-500 hover:bg-gray-50 hover:text-red-600
                          dark:text-red-500 dark:hover:bg-gray-900/20
                          dark:hover:text-red-500">
                          <span data-lucide="power"
                                          class="w-4 h-4 inline-block text-red-500 dark:text-red-500 me-2"></span>
                          Sign out</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>


        <div class="ltr:flex flex-1 rtl:flex-row-reverse">
            <div class="page-wrapper relative ltr:ml-auto rtl:mr-auto rtl:ml-0 w-[calc(100%-260px)] px-4 pt-[64px] duration-300">
                <div class="xl:w-full">        
                    <div class="flex flex-wrap">
                        <div class="flex items-center py-4 w-full">
                            <div class="w-full">                    
                                <div class="">
                                    <div class="flex flex-wrap justify-between">
                                        <div class="items-center ">
                                            <h1 class="font-medium text-3xl block dark:text-slate-100">Ecommerce</h1>
                                            <ol class="list-reset flex text-sm">
                                                <li><span class="text-gray-500 dark:text-slate-400 mx-2">/</span></li>
                                                <li class="text-gray-500 dark:text-slate-400">Dashboard</li>
                                                <li><span class="text-gray-500 dark:text-slate-400 mx-2">/</span></li>
                                                <li class="text-primary-500 hover:text-primary-600 dark:text-primary-400">Ecommerce</li>
                                            </ol>
                                        </div>
                                        <div class="flex items-center">
                                            <div class="today-date leading-5 mt-2 lg:mt-0 form-input w-auto rounded-md border inline-block border-primary-500/60 dark:border-primary-500/60 text-primary-500 bg-transparent px-3 py-1 focus:outline-none focus:ring-0 placeholder:text-slate-400/70 placeholder:font-normal placeholder:text-sm hover:border-primary-400 focus:border-primary-500 dark:focus:border-primary-500  dark:hover:border-slate-700">
                                                <input type="text" class="dash_date border-0 focus:border-0 focus:outline-none" readonly  required="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end container-->
            
                <div class="xl:w-full  min-h-[calc(100vh-138px)] relative pb-14"> 
                    <div class="grid grid-cols-12 sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12 gap-4">  
                        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-3 xl:col-span-3">
                            <div class="bg-white shadow-sm dark:shadow-slate-700/10 dark:bg-gray-900  rounded-md w-full relative mb-4">
                                <div class="flex-auto p-4">
                                    <div class="flex justify-between xl:gap-x-2 items-cente">
                                        <div class="self-center"> 
                                            <p class="text-gray-800 font-semibold dark:text-slate-400 text-lg uppercase">Total orders</p>                           
                                            <h3 class="my-4 font-semibold text-[30px] dark:text-slate-200">{{totalOrder}}</h3>                                                
                                        </div>                                       
                                        <div class="self-center">                                                
                                            <i data-lucide="shopping-cart" class=" h-16 w-16 stroke-primary-500/30"></i>
                                        </div>                                            
                                    </div>
                                </div><!--end card-body-->  
                                
                            </div> <!--end inner-grid--> 
                        </div>
                        <div class="col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-3 xl:col-span-3">
                            <div class="bg-white shadow-sm dark:shadow-slate-700/10 dark:bg-gray-900  rounded-md w-full relative mb-4">
                                <div class="flex-auto p-4">
                                    <div class="flex justify-between xl:gap-x-2 items-cente">
                                        <div class="self-center"> 
                                            <p class="text-gray-800 font-semibold dark:text-slate-400 uppercase">Total customers</p>                           
                                            <h3 class="my-4 font-semibold text-[30px] dark:text-slate-200">{{totalUser}}</h3>                                              
                                        </div>                                       
                                        <div class="self-center">                                                
                                            <i data-lucide="users" class=" h-16 w-16 stroke-green/30"></i>
                                        </div>                                            
                                    </div>
                                </div>
                            </div> <!--end inner-grid-->                                                                                                  
                        </div>
                        <div class="col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-3 xl:col-span-3">
                            <div class="bg-white shadow-sm dark:shadow-slate-700/10 dark:bg-gray-900  rounded-md w-full relative mb-4">
                                <div class="flex-auto p-4">
                                    <div class="flex justify-between xl:gap-x-2 items-cente">
                                        <div class="self-center"> 
                                            <p class="text-gray-800 font-semibold dark:text-slate-400 uppercase">Total Products</p>                           
                                            <h3 class="my-4 font-semibold text-[30px] dark:text-slate-200">{{totalProducts}}</h3>                                                
                                        </div>                                       
                                        <div class="self-center">                                                
        <i data-lucide="package" class="h-16 w-16 stroke-yellow-500/30"></i>
                                        </div>                                            
                                    </div>
                                </div><!--end card-body-->  
                                                               
                            </div> <!--end inner-grid--> 
                        </div>
                        <div class="col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-3 xl:col-span-3">
                            <div class="bg-[#1b1b22] shadow-sm dark:shadow-slate-700/10 dark:bg-gray-900  rounded-md w-full relative mb-4">
                                <div class="flex-auto p-4">
                                    <div class="flex justify-between xl:gap-x-2 items-cente">
                                        <div class="self-center"> 
                                            <p class="text-gray-300 font-semibold dark:text-slate-400 uppercase">Total Revenue</p>                           
                                            <h3 class="my-4 font-semibold text-[30px] text-slate-200">{{totalOrderAmount}}</h3>                                                
                                        </div>                                       
                                        <div class="self-center">                                                
    <i data-lucide="indian-rupee" class="h-16 w-16 stroke-[#2ecee1]/30"></i>
</div>                                          
                                    </div>
                                    {{!-- <p class="truncate text-slate-400"><span class="text-green-500"><i class="mdi mdi-trending-up"></i>10.5%</span> Completions Weekly</p> --}}
                                </div><!--end card-body-->
                                <div class="flex-auto p-4 pt-0 -mt-1">
                                    <div class="grid grid-cols-12 sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12 gap-4">
                                        
                                        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-6 xl:col-span-3">
                                            <img src="assets/images/widgets/wallet.png" alt="" class="w-full h-auto">                                    
                                        </div>
                                        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-6 xl:col-span-8 text-end self-center">
                                            {{!-- <button class="px-4 py-1 font-medium text-white transition duration-200 ease-in-out delay-200 skew-y-6 bg-brand-600 border-b-4 border-brand-700 rounded shadow-lg shadow-brand-600/50 hover:skew-y-0 hover:border-brand-700">Withdrawal</button> --}}
                                            <!-- <button class="px-2 py-1 bg-brand-500 border border-transparent collapse:bg-green-100 text-white text-sm rounded hover:bg-brand-600 hover:text-white">Withdrawal</button> -->
                                        </div>
                                    </div> 
                                </div><!--end card-body-->
                            </div> <!--end inner-grid-->                                     
                        </div>
                    </div> 




<div class="grid grid-cols-12 sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12 gap-4">
    <div class="col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-4">
        <div class="w-full relative mb-4">  
            <div class="flex-auto p-4">
                <div class="border-b border-dashed border-slate-300 dark:border-slate-700/40 my-3"></div>
                <div class="grid grid-cols-12 gap-4 mb-8">
                    <div class="col-span-12 sm:col-span-12">
                        {{!-- {{orderChart.labels}} --}}
                        <div style="width: 100%;">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div> 
                </div>
            </div>
        </div>                                  
    </div> 
    <div class="col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-8 xl:col-span-8">
        <div class="w-full relative mb-4">
            <div class="flex-auto p-4">
                <div class="border-b border-dashed border-slate-300 dark:border-slate-700/40 my-3"></div>
                    <div class="grid grid-cols-12 gap-4 mb-8">
                        <div class="col-span-12 sm:col-span-12">
                            <div class="flex-auto p-4">
                                <canvas id="barChart" width="100%" height="50%"></canvas>
                            </div>
                        </div> 
                    </div>
                </div>
                                <!--end card-body-->                          
            </div> <!--end inner-grid-->                                                                                                  
        </div>                   
    </div>
    {{!-- <div class="container" style="max-width:800px;">
         
        <canvas id="lineChart" width="100%" height="30%"></canvas>
    </div> --}}


                    <div class="grid grid-cols-12 sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12 gap-4 mb-4">                         
                        <div class="col-span-12 sm:col-span-12  md:col-span-12 lg:col-span-6 xl:col-span-6 ">
                            <div class="bg-white shadow-sm dark:shadow-slate-700/10 dark:bg-gray-900   rounded-md w-full relative">
                                <div class="border-b border-dashed border-slate-200 dark:border-slate-700 py-4 px-4 dark:text-slate-300/70">
                                    <h4 class="font-medium flex-1 self-center mb-2 md:mb-0 text-xxl">Latest Orders</h4>
                                    <p class="text-sm text-slate-400">Latest Orders <span class="focus:outline-none text-[11px] bg-brand-500/10 text-brand-500 dark:text-brand-300 rounded font-medium py-[2px] px-2">₹{{totalOrderAmount}}</span></p>
                                </div><!--end header-title-->
                                <div class="grid grid-cols-1 p-4">
                                    <div class="sm:-mx-6 lg:-mx-8">
                                        <div class="relative overflow-x-auto block w-full sm:px-6 lg:px-8">
                                            <table class="w-full">
                                                <thead class="bg-brand-400/10 dark:bg-slate-700/20">
                                                    <tr>
                                                        <th scope="col" class="p-3 text-base font-medium tracking-wider text-start text-gray-700 uppercase dark:text-gray-400">
                                                            Date
                                                        </th>
                                                        <th scope="col" class="p-3 text-base font-medium tracking-wider text-start text-gray-700 uppercase dark:text-gray-400">
                                                            orderId
                                                        </th>
                                                        <th scope="col" class="p-3 text-base font-medium tracking-wider text-start text-gray-700 uppercase dark:text-gray-400">
                                                            Order Status
                                                        </th>
                                                        <th scope="col" class="p-3 text-base font-medium tracking-wider text-start text-gray-700 uppercase dark:text-gray-400">
                                                            Payment Mthod
                                                        </th>
                                                        <th scope="col" class="p-3 text-base font-medium tracking-wider text-start text-gray-700 uppercase dark:text-gray-400">
                                                            Amount
                                                        </th>
                                                        <th scope="col" class="p-3 text-base font-medium tracking-wider text-start text-gray-700 uppercase dark:text-gray-400">
                                                            View
                                                        </th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each latestOrder}}
                                                    <tr class="bg-white border-b border-dashed dark:bg-gray-900 dark:border-gray-700/40" data-order-id="{{_id}}">
                                                        <td class="p-3 text-base  text-gray-600 whitespace-nowrap dark:text-gray-400">
                                                            {{this.createdAt}}
                                                        </td>
                                                        <td class="p-3 text-base text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                            {{this._id}}
                                                        </td>
                                                        <td class="p-3 text-base text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                             {{#if isCancel}}
                                                           <span class="text-red-500">Order Cancelled</span>
                                                            {{else}}
                                                           <span class="text-primary-500">{{this.status}}</span>
                                                           {{/if}}
                                                        </td>
                                                        <td class="p-3 text-base text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                           
                                                           <span class="text-black-500">{{this.selectedPaymentMethod}}</span>
                                                           
                                                        </td>
                                                        <td class="p-3 text-base text-gray-700 whitespace-nowrap dark:text-gray-400">
                                                            <span class="font-semibold">₹{{this.totalAmount}}</span>
                                                        </td>
                                                        <td class="p-3 font-semibold text-lg text-gray-800 whitespace-nowrap dark:text-gray-400">
    <button type="button" class="btn btn-link" id="singleOrderDetails" onclick="singleOrders()">
        <i class="bi bi-eye"></i> <!-- Bootstrap eye icon -->
    </button>
</td>
                                                    </tr>
                                                    {{/each}}
 
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div><!--end card-body-->
                            </div> <!--end card-->
                        </div>      
                                <div class="col-span-12 sm:col-span-12  md:col-span-12 lg:col-span-6 xl:col-span-6 ">
                            <div class="bg-white shadow-sm dark:shadow-slate-700/10 dark:bg-gray-900   rounded-md w-full relative">
                                <div class="border-b border-dashed border-slate-200 dark:border-slate-700 py-4 px-4 dark:text-slate-300/70">                                    
                                    <h4 class="font-medium flex-1 self-center mb-2 md:mb-0 text-xxl">Sales Report</h4>
                                    {{!-- <p class="text-sm text-slate-400">New Products Last Week <span class="focus:outline-none text-[11px] bg-brand-500/10 text-brand-500 dark:text-brand-300 rounded font-medium py-[2px] px-2">5</span></p> --}}
                                </div><!--end header-title-->
                                <div class="grid grid-cols-1 p-4">
                                    <div class="sm:-mx-6 lg:-mx-8">
                                        <div class="relative overflow-x-auto block w-full sm:px-6 lg:px-8">
                                            <div class="grid grid-cols-2 gap-4">
                                                <div>
                                                    <label for="start-date" class="block text-sm font-medium text-gray-700">Start Date</label>
                                                    <input type="date" name="start-date" id="startDate" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" value="start-date">
                                                </div>
                                                <div>
                                                    <label for="end-date" class="block text-sm font-medium text-gray-700">End Date</label>
                                                    <input type="date" name="end-date" id="endDate" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" value="end-date">
                                                </div>
                                            </div>
                                            <div class="mt-4">
                                                <button id="applyDates" class="bg-indigo-500 text-white py-2 px-4 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Apply Dates</button>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
            


<!--end card-body-->
                            </div> <!--end card-->
                        </div>  
                    </div><!--end inner-grid--> 
                   
  
  
                </div><!--end container-->
            </div>
        </div>


            



  
        

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const ctx = document.getElementById('myChart').getContext('2d');
        const orderChartLabels = [{{#each orderChart.labels}}'{{this}}'{{#unless @last}},{{/unless}}{{/each}}];
        const orderChartData = [{{#each orderChart.data}}'{{this}}'{{#unless @last}},{{/unless}}{{/each}}];

        const data = {
            labels: orderChartLabels,
            datasets: [{
                label: 'Ordered Category',
                data: orderChartData,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        };

        const options = {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Product Selling'
                }
            }
        };

        const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: options
        });

        // Bar Chart
        const barCtx = document.getElementById('barChart').getContext('2d');
        const monthlyOrderLabels = [{{#each monthlyOrder.labels1}}'{{this}}'{{#unless @last}},{{/unless}}{{/each}}];
        const monthlyOrderCounts = [{{#each monthlyOrder.counts1}}'{{this}}'{{#unless @last}},{{/unless}}{{/each}}];

        const barData = {
            labels: monthlyOrderLabels,
            datasets: [{
                label: 'This Month Order',
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 1)', // Blue color
                borderWidth: 1,
                data: monthlyOrderCounts
            }]
        };

        const barOptions = {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        };

        const myBarChart = new Chart(barCtx, {
            type: 'bar',
            data: barData,
            options: barOptions
        });

        // Apply Dates
        document.getElementById("applyDates").addEventListener("click", function () {
            var startDate = document.getElementById("startDate").value;
            var endDate = document.getElementById("endDate").value;

            if (!startDate || !endDate) {
                alert("Please select both start date and end date.");
                return;
            }

            axios.post('/admin/index/salesReport', {
                startDate: startDate,
                endDate: endDate
            }, {
                responseType: 'blob'
            })
            .then(function (response) {
                console.log('Response from server:', response);

                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'sales_report.xlsx');
                document.body.appendChild(link);
                link.click();
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
        });
    });
</script>



        <!-- <div class="menu-overlay"></div> -->


        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
		integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{{!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> --}}

        <script src="assets/libs/lucide/umd/lucide.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/flatpickr/flatpickr.min.js"></script>
        <script src="assets/libs/%40frostui/tailwindcss/frostui.js"></script>

        {{!-- <script src="assets/libs/apexcharts/apexcharts.min.js"></script> --}}
        <script src="assets/js/pages/analytics-index.init.js"></script>
        <script src="assets/js/app.js"></script>
        <!-- JAVASCRIPTS -->
    </body>

</html>





