<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Dry Vitals</title>

	<!-- favicon -->
	{{!-- <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png"> --}}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="/assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="/assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="/assets/css/responsive.css">

<style>


</style>
</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img src="/assets/img/Mainlogo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								
								<li><a href="/product">Product</a></li>								
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide wishlist-bar-icon" href="/wishlist"><i class="bi bi-heart-fill"></i></a>
										<a class="mobile-hide person-bar-icon" href="/profile"><i class="bi bi-person-circle"></i></a>
									</div>
									
								</li>
							</ul>
							
						</nav>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->


	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Dry & Organic</p>
							<div class="hero-btns">
								<a href="/product" class="boxed-btn">Fruit Collection</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
<div class="container">

    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="list-box d-flex align-items-center">
                <div class="list-icon">
                    <i class="fas fa-shipping-fast"></i>
                </div>
                <div class="content">
                    <h3>Free Delivery</h3>
                    <p>Get your items delivered for free</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="list-box d-flex align-items-center">
                <div class="list-icon">
                    <i class="fas fa-phone-volume"></i>
                </div>
                <div class="content">
                    <h3>24/7 Support</h3>
                    <p>Get support all day</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="list-box d-flex align-items-center">
                <div class="list-icon">
                    <i class="fas fa-shipping-fast"></i>
                </div>
                <div class="content">
                    <h3>Fast Delivery</h3>
                    <p>Get your orders delivered quickly</p>
                </div>
            </div>
        </div>
    </div>

</div>

	</div>
	<!-- end features list section -->




	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Products</h3>
						<p>We are provide High rich Protien included Dry fruits , Nuts and Seeds</p>
					</div>
				</div>
			</div>


			<div class="row">
    			{{#each products}}
    				<div class="col-lg-4 col-md-6 text-center">
						
        				<div class="single-product-item" href="/singleProduct/{{_id}}">
						
            				<div class="product-image">
                				<a href="/singleProduct/{{_id}}"><img src="{{imageUrl}}" alt="" style="width: 200px; height:200px"></a>
            				</div>
            				<h3>{{productName}}</h3>
            				<p class="product-price"><span>Per Kg</span> ₹{{stock.0.price}} </p>
							<del>₹{{stock.0.mrp}}</del>
							<p>{{category}}</p>
							<div class="container" style="background-color: #e28419; display: flex; justify-content: center; width: 150px; height: 30px;border-radius:30px" id="show-btn">
    							<a href="/singleProduct/{{_id}}" style="text-decoration: none; color: #fff; display: block; width: 100%; height: 100%;" class="show-details-link">show details</a>
							</div>

        				</div>
    				</div>
    			{{/each}}
			</div>
		</div>
		<div class="col-lg-12 col-md-6 col-sm-6 text-center">
					<div class="hero-btns">
						<a href="/product" class="boxed-btn">View More Products</a>
					</div>
			</div>
	</div>
	<!-- end product section -->


	
				
							
	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>30%</strong> <br> off per kg
                                </span>
                            </div>
                        </div>
                    	<img src="/assets/img/date-herb-berry-jujube.jpg" alt="" style="border-radius: 30px;">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><span class="orange-text">Deal</span> of the month</h3>
                    <h4>Hikan Strwaberry</h4>
                    <div class="text">Quisquam minus maiores repudiandae nobis, minima saepe id, fugit ullam similique! Beatae, minima quisquam molestias facere ea. Perspiciatis unde omnis iste natus error sit voluptatem accusant</div>
                    
                </div>
            </div>
        </div>
    </section>
   
{{!-- 	
	<!-- shop banner -->
	<section class="shop-banner">
    <div class="container">
        <h3>December sale is on! <br> with big <span class="orange-text">Discount...</span></h3>
        <div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
        <a href="/product" class="cart-btn btn-lg">Shop Now</a>
        <!-- Updated dry fruits image -->
        <img src="path_to_your_dry_fruits_image.jpg" alt="Dry Fruits" class="dry-fruits-image">
    </div>
</section> --}}

	<!-- end shop banner -->


<footer class="footer" style="background-color: #343a40; color: #ffffff; padding: 50px 0; mt-5">
    <div class="container-lg"> <!-- Changed to container-lg for larger size -->
        <div class="row">
            <div class="col-md-4">
                <h5 style="color: white;">About Us</h5>
                <p style="color: rgb(174, 164, 164);">At Dry Vitals, we are passionate about providing you with the finest selection of dry fruits, dates, and nuts sourced from the most trusted suppliers worldwide. With a commitment to quality, freshness, and customer satisfaction, we aim to bring nature's goodness to your doorstep.</p>
            </div>
            <div class="col-md-4">
                <h5 style="color: white;">Customer Service</h5>
                <ul class="list-unstyled" style="margin-left: 0;">
                    <li><a href="/profile" style="color: #ffffff;">Profile</a></li>
                    <li><a href="/product" style="color: #ffffff;">Product</a></li>
                    <li><a href="/cart" style="color: #ffffff;">Cart</a></li>
                    <li><a href="/wishlist" style="color: #ffffff;">Wishlist</a></li>
                    <li><a href="/order" style="color: #ffffff;">Orders</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 style="color: white;">Connect with Us</h5>
                <ul class="list-unstyled social-links" style="margin-left: 0;">
                    <li><a href="#" style="color: #ffffff;"><i class="fab fa-facebook-f"> Facebook</i> </a></li>
                    <li><a href="#" style="color: #ffffff;"><i class="fab fa-twitter"> Twitter</i> </a></li>
                    <li><a href="#" style="color: #ffffff;"><i class="fab fa-instagram"> Instagram</i> </a></li>
                    <li><a href="#" style="color: #ffffff;"><i class="fab fa-linkedin-in"> LinkedIn</i> </a></li>
                </ul>
            </div>
        </div>
        <hr style="background-color: #ffffff;">
        <div class="row">
            <div class="col-md-6">
                <h5 style="color: white;">Payment Methods</h5>
                <ul class="list-inline payment-icons" style="margin-left: 0;">
                    <li class="list-inline-item"><i class="fab fa-cc-visa fa-2x" style="color: #ffffff;"></i></li>
                    <li class="list-inline-item"><i class="fab fa-cc-mastercard fa-2x" style="color: #ffffff;"></i></li>
                    <li class="list-inline-item"><i class="fab fa-cc-paypal fa-2x" style="color: #ffffff;"></i></li>
                    <li class="list-inline-item"><i class="fab fa-cc-amazon-pay fa-2x" style="color: #ffffff;"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
	
	<!-- jquery -->
	<script src="/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/assets/js/main.js"></script>

</body>
</html>