<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Shop</title>
	<style>
		.sorting-filtering {
			background-color: #ffffff;
			padding: 20px;
			border-radius: 5px;
			margin-bottom: 20px;
		}

		.sorting-filtering h4 {
			font-size: 18px;
			margin-bottom: 10px;
		}

		.sorting-filtering select {
			width: 50%;
			padding: 8px;
			border-radius: 5px;
			border: 1px solid #ccc;
			outline: none;
			font-size: 14px;
			margin-top: 5px;
		}

		.sorting-filtering select:focus {
			border-color: #999;
		}

		.single-product-item {
			position: relative;
			margin-bottom: 30px;
			/* Adjust as needed */
		}

		.product-image-container {
			position: relative;
		}

		.wishlist-btn {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 1;
			
			font-size: 20px;
			text-decoration: none;
			
			border: none;
			cursor: pointer;
		}


		.wishlist-btn i {
			vertical-align: middle;
		}
	.added-to-wishlist .bi-heart-fill {
			color: red;
		}

		.filter-btn-container {
			text-align: center;
		}

		.filter-btn {
			padding: 5px 10px;
			border: 1px solid #db7924;
			border-radius: 30px;
			height: 60px;
			width: 100px;
			cursor: pointer;
			color: black;
			transition: background-color 0.3s;
			margin-right: 10px;
			margin-bottom: 20px;
		}

		.filter-btn a {
			color: #040404;
			/* Anchor text color */
			text-decoration: none;
			font-size: 15px;

		}

		.filter-btn:hover {
			background-color: #db7924;
			color: white;
			font-size: 16px;
		}

		.filter-btn:hover a {
			color: #f9f9f9;
		}

		.main {
			margin-top: 50px;
		}
		
		
	</style>

	<!-- favicon -->
	{{!--
	<link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png"> --}}

	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="/assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="/assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="/assets/css/responsive.css">

</head>

<body>

	<!--PreLoader-->
	{{!-- <div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div> --}}
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img src="/assets/img/Mainlogo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								{{!-- <li class="current-list-item"><a href="/">Home</a>
									<ul class="sub-menu">
										<li><a href="index.html">Static Home</a></li>
										<li><a href="index_2.html">Slider Home</a></li>
									</ul>
								</li> --}}
								<li><a href="/product">Product</a></li>
								<li><a href="#">Pages</a>
									<ul class="sub-menu">
										{{!-- <li><a href="404.html">404 page</a></li> --}}
										{{!-- <li><a href="about.html">About</a></li> --}}
										<li><a href="/cart">Cart</a></li>
										{{!-- <li><a href="checkout.html">Check Out</a></li> --}}
										{{!-- <li><a href="contact.html">Contact</a></li> --}}
										<li><a href="/product">Product</a></li>
									</ul>
								</li>
								{{!-- <li><a href="news.html">News</a>
									<ul class="sub-menu">
										<li><a href="news.html">News</a></li>
										<li><a href="single-news.html">Single News</a></li>
									</ul>
								</li> --}}
								{{!-- <li><a href="contact.html">Contact</a></li> --}}
								<li><a href="shop.html">Shop</a>
									<ul class="sub-menu">
										<li><a href="/product">Product</a></li>
										{{!-- <li><a href="checkout.html">Check Out</a></li> --}}
										{{!-- <li><a href="/singleProduct">Single Product</a></li> --}}
										<li><a href="/cart">Cart</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="mobile-hide search-bar-icon" href="#" id="search-icon"><i
												class="fas fa-search"></i></a>
										<a class="shopping-cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide wishlist-bar-icon" href="/wishlist"><i
												class="bi bi-heart-fill"></i></a>
										<a class="mobile-hide person-bar-icon" href="/profile"><i
												class="bi bi-person-circle"></i></a>
									</div>

								</li>

							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->
<div class="search-area" id="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
				<span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <input type="text" id="search-input" placeholder="Search for products...">
                        <button type="button" id="search-button">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

<div class="container">
    <div class="row justify-content-end">
        <div class="col-md-6">
            <button id="toggleSortFilter" class="btn btn-primary mt-5" style="height: 40px; border-radius:30px;">Sorting and Filtering</button>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-6">
            <div class="sortdiv p-3 rounded mb-4" id="sortFilterSection" style="display: none; background-color: #f8f9fa; border: 1px solid #ced4da; border-radius: 5px;">
                <div class="row align-items-center justify-content-end" style="margin-bottom: 10px;">
                    <h4 class="mb-0 col-md-4">Sort By:</h4>
                    <div class="col-md-6">
                        <select id="sortSelect" class="form-select mt-2" style="width: 200px;height:40px; border-radius: 5px;">
                            <option value="default" selected>Price Select</option>
                            <option value="price-low-high">Low to High</option>
                            <option value="price-high-low">High to Low</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center justify-content-end">
                    <h4 class="mb-0 col-md-4">Filter By:</h4>
                    <div class="col-md-6 ">
                        <select id="categoryFilter" class="form-select mt-2" style="width: 200px;height:40px; border-radius: 5px;">
                            <option value="all" selected>Category Select</option>
                            {{#each category}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








	{{!-- ----product section starting --}}
	<div class="product-section mt-100 mb-150">
		<div class="container">
			<div class="products-lists">
				<div class="row product-lists">

					{{#each products}}
					<div class="col-lg-4 col-md-6 text-center">
						<div class="single-product-item" data-filter="{{category}}">
							<div class="product-image">
								<a href="/singleProduct/{{_id}}"><img src="{{imageUrl}}" alt="productimage"
										style="width: 200px ;height: 200px;;"></a>
							</div>
							<h3>{{productName}}</h3>
							{{#if isDisabled}}
							<h5 style="color: red;">Out of stock</h5>
							{{/if}}
							<p class="product-price"> ₹{{stock.[0].price}}</p>
							<del class="product-mrp">₹{{stock.[0].mrp}}</del>
							<p class="product-variant"> {{stock.[0].variant}}</p>
							<p class="product-category"> {{category}}</p>
							<div class="stock-details">
							</div>
							{{#if inWishlist}}
							<a href="#" class="wishlist-btn" style="color: red;" data-product-id="{{_id}}"><i
									class="bi bi-heart-fill"></i></a>
							{{else}}

							<a class="wishlist-btn" id="addToWishlist" data-product-id="{{_id}}"><i
									class="bi bi-heart"></i></a>
							{{/if}}

						</div>
					</div>
					{{/each}}

				</div>

			</div>
		</div>
	</div>





	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
	<script>
		function updateProductDetails(productId, selectElement) {
			// Get the selected variant option
			var selectedOption = selectElement.options[selectElement.selectedIndex];

			// Get the selected variant details
			var selectedVariant = selectedOption.getAttribute('value');
			var selectedPrice = selectedOption.getAttribute('data-price');
			var selectedmrp = selectedOption.getAttribute('data-mrp');

			//var selectedStock = selectedOption.getAttribute('data-stock');

			// Update the product details displayed on the page
			var priceElement = selectElement.parentElement.parentElement.querySelector('.product-price');
			var variantElement = selectElement.parentElement.parentElement.querySelector('.product-variant');
			var mrpElement = selectElement.parentElement.parentElement.querySelector('.product-mrp');

			//var stockElement = selectElement.parentElement.parentElement.querySelector('.product-stock');

			priceElement.textContent = '₹' + selectedPrice;
			mrpElement.textContent = '₹' + selectedmrp;

			variantElement.textContent = ' ' + selectedVariant;
			//stockElement.textContent =' ' + selectedStock;		
		}
document.addEventListener('DOMContentLoaded', function () {
    const categoryFilter = document.getElementById('categoryFilter');
	
    const sortSelect = document.getElementById('sortSelect');

    categoryFilter.addEventListener('change', function (e) {
        const selectedCategory = e.target.value;
		console.log(selectedCategory)
        const selectedSort = sortSelect.value;
        filterAndSortProducts(selectedCategory, selectedSort);
    });

    sortSelect.addEventListener('change', function (e) {
        const selectedSort = e.target.value;
        const selectedCategory = categoryFilter.value;
        filterAndSortProducts(selectedCategory, selectedSort);
    });
});

function filterAndSortProducts(category, sortBy) {
    const requestData = {
        category: category,
        sortBy: sortBy
    };

    axios.post('/product/sortAndFilterProducts', requestData)
        .then(response => {
            if (response.data && response.data.products) {
                renderProducts(response.data.products);
            } else {
                console.log('No products found in the response.');
            }
        })
        .catch(error => {
            console.log('Error:', error);
        });
}


		function renderProducts(products) {
			const productsContainer = document.querySelector('.product-lists');
			productsContainer.innerHTML = '';
			products.forEach(product => {
				const outOfStockMessage = product.isDisabled ? '<h5 style="color: red;">Out of stock</h5>' : '';
const productHTML = `
    <div class="col-lg-4 col-md-6 text-center">
        <div class="single-product-item" data-filter="${product.category}">
            <div class="product-image">
                <a href="/singleProduct/${product._id}"><img src="${product.imageUrl}" alt="productimage" style="width: 200px; height: 200px;"></a>
            </div>
            <h3>${product.productName}</h3>
            ${product.isDisabled ? '<h5 style="color: red;">Out of stock</h5>' : ''}
            <p class="product-price">₹${product.stock[0].price}</p>
            <del class="product-mrp">₹${product.stock[0].mrp}</del>
            <p class="product-variant">${product.stock[0].variant}</p>
            <p class="product-category">${product.category}</p>
            <div class="stock-details">
                <!-- Any additional details you want to display -->
            </div>
${product.inWishlist ? `<a href="#" class="wishlist-btn" style="color: red;" data-product-id="${product._id}"><i class="bi bi-heart-fill"></i></a>` : `<a class="wishlist-btn" id="addToWishlist" data-product-id="${product._id}"><i class="bi bi-heart"></i></a>`}
        </div>
    </div>
`;


				productsContainer.insertAdjacentHTML('beforeend', productHTML);
				

			});
		}



const wishlistButtons = document.querySelectorAll('.wishlist-btn');

wishlistButtons.forEach(wishlistButton => {
    wishlistButton.addEventListener('click', async (event) => {
        event.preventDefault();

        try {
            const productId = wishlistButton.getAttribute('data-product-id');
            console.log('product id', productId);
            if (!productId) {
                console.error('Product ID is empty.');
                return;
            } else {
                // Item is not in the wishlist, add it
                $.ajax({
                    url: '/wishlist/add',
                    method: 'POST',
                    data: { productId: productId },
                    success: function(response) {
                        console.log(productId);
                        const isItemAddedToWishlist = response.success;
                        if (isItemAddedToWishlist) {
                            wishlistButton.innerHTML = '<i class="bi bi-heart-fill"></i>';
                            wishlistButton.style.color = 'red';
                            wishlistButton.classList.add('added-to-wishlist');

                        } else {
                            wishlistButton.innerHTML = '<i class="bi bi-heart"></i>';
                            wishlistButton.style.color = '';
                            wishlistButton.classList.remove('added-to-wishlist');
                        }
                    },
                    error: function(error) {
                        console.error('Error:', error);
                    }
                });
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });
});

$(document).ready(function(){
            $("#sortFilterSection").hide(); 

            $("#toggleSortFilter").click(function(){
                $("#sortFilterSection").toggle();
            });
        });



document.addEventListener('DOMContentLoaded', function () {
    const searchButton = document.getElementById('search-button');
    const searchInput = document.getElementById('search-input');

    searchButton.addEventListener('click', function () {
        const keyword = searchInput.value.trim();

        if (keyword !== '') {
            searchProducts(keyword);
        }
    });
});

function searchProducts(keyword) {
    axios.post('/product/search', { keyword: keyword })
        .then(response => {
            if (response.data && response.data.products) {
                renderProducts(response.data.products);
            } else {
                console.log('No products found matching the search criteria.');
            }
        })
        .catch(error => {
            console.log('Error:', error);
        });
}

	</script>
	<!-- Include jQuery from a CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<!-- //If you're using CDN -->
	<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

	<!-- jquery -->
	<script src="/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/assets/js/main.js"></script>

</body>

</html>