<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Single Product</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="/assets/img/dryvitalsLogo.png">

			<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="/assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="/assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="/assets/css/responsive.css">
<style>
	.cart-btn{
		margin-top: 20px;
		background-color: rgb(220, 136, 17);
		width: 200px;
		height: 40px;
		border: none;
		color: white;
		border-radius: 30px;
	}
	.cart-btn:hover{
		background-color: black;
	}
	.bynow{
		background-color: rgb(3, 3, 3);
		color: white;
		width: 200px;
		height: 40px;
		border-radius: 40px;
		margin-left: 100px;
		border: none;
	}
	.bynow:hover{
		background-color: rgb(215, 120, 31);
	}
.footer a:hover {
    color: #ffcc00; 
}

.footer a:hover i {
    color: #ffcc00;
}

.list-inline-item:hover {
    transform: scale(1.1);
}
	#stock-status {
    color: green; 
}


#stock-status.out-of-stock {
    color: red; /* Color for out-of-stock message */
}

</style>
</head>

<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						
						<div class="site-logo">
							<a href="/">
								<img src="/assets/img/Mainlogo.png" alt="">
							</a>
						</div>

						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li ><a href="/">Home</a></li>
								<li ><a href="/product">Product</a></li>

								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide wishlist-bar-icon" href=""><i class="bi bi-heart-fill"></i></a>
										<a class="mobile-hide person-bar-icon" href="/profile"><i class="bi bi-person-circle"></i></a>
									</div>
									
								</li>
							</ul>
						</nav>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>See more Details</p>
						<h1>Single Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- single product -->
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
    <div class="col-md-5">
        <div class="single-product-img">
            <img src="{{product.imageUrl}}" alt="single image">
        </div>
    </div>
    <div class="col-md-7">
        <div class="single-product-content">
            <h2>{{product.productName}}</h2>
            <p class="single-product-pricing" id="selected-variant-price">₹ {{product.stock.0.price}}</p>
            <del><h6 id="selected-variant-mrp">₹{{product.stock.0.mrp}}</h6></del>   
			<p id="stock-status">In Stock</p>               
            <p>{{product.description}}</p>
            <div class="single-product-form">
                <p><strong>Category : </strong>{{product.category}}</p>
                {{#each product.stock}}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="variant" id="{{@index}}" data-price="{{price}}" data-mrp="{{mrp}}" data-stock="{{stock}}" onchange="updatePrice(this)" {{#if @index}} {{else}} checked {{/if}}>
                    <label class="form-check-label" for="{{@index}}">
                        {{variant}}
                    </label>
                </div>
                {{/each}}
            </div>
            <button type="submit" class="cart-btn" id="addToCartBtn"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
        </div>
    </div>
{{!-- <button type="submit" class="bynow" id="buyNow" >Buy Now</button> --}}
</div>

		</div>
	</div>
	<!-- end single product -->

<footer class="footer" style="background-color: #343a40; color: #ffffff; padding: 50px 0;">
    <div class="container-lg"> <!-- Changed to container-lg for larger size -->
        <div class="row">
            <div class="col-md-4">
                <h5 style="color: white;">About Us</h5>
                <p style="color: rgb(174, 164, 164);">At Dry Vitals, we are passionate about providing you with the finest selection of dry fruits, dates, and nuts sourced from the most trusted suppliers worldwide. With a commitment to quality, freshness, and customer satisfaction, we aim to bring nature's goodness to your doorstep.</p>
            </div>
            <div class="col-md-4">
                <h5 style="color: white;">Customer Service</h5>
                <ul class="list-unstyled" style="margin-left: 0;">
                    <li><a href="/profile" style="color: #ffffff;">Profile</a></li>
                    <li><a href="/product" style="color: #ffffff;">Product</a></li>
                    <li><a href="/cart" style="color: #ffffff;">Cart</a></li>
                    <li><a href="/wishlist" style="color: #ffffff;">Wishlist</a></li>
                    <li><a href="/order" style="color: #ffffff;">Orders</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 style="color: white;">Connect with Us</h5>
                <ul class="list-unstyled social-links" style="margin-left: 0;">
                    <li><a href="#" style="color: #ffffff;"><i class="fab fa-facebook-f"> Facebook</i> </a></li>
                    <li><a href="#" style="color: #ffffff;"><i class="fab fa-twitter"> Twitter</i> </a></li>
                    <li><a href="#" style="color: #ffffff;"><i class="fab fa-instagram"> Instagram</i> </a></li>
                    <li><a href="#" style="color: #ffffff;"><i class="fab fa-linkedin-in"> LinkedIn</i> </a></li>
                </ul>
            </div>
        </div>
        <hr style="background-color: #ffffff;">
        <div class="row">
            <div class="col-md-6">
                <h5 style="color: white;">Payment Methods</h5>
                <ul class="list-inline payment-icons" style="margin-left: 0;">
                    <li class="list-inline-item"><i class="fab fa-cc-visa fa-2x" style="color: #ffffff;"></i></li>
                    <li class="list-inline-item"><i class="fab fa-cc-mastercard fa-2x" style="color: #ffffff;"></i></li>
                    <li class="list-inline-item"><i class="fab fa-cc-paypal fa-2x" style="color: #ffffff;"></i></li>
                    <li class="list-inline-item"><i class="fab fa-cc-amazon-pay fa-2x" style="color: #ffffff;"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>








	
<script>
	window.onload = function() {
    var selectedVariantRadio = document.querySelector('input[name="variant"]:checked');
    if (selectedVariantRadio) {
        updatePrice(selectedVariantRadio);
    }
};
    function updatePrice(radio) {
        var price = radio.getAttribute('data-price');
		var mrp=radio.getAttribute('data-mrp');
		var stock = radio.getAttribute('data-stock');
        document.getElementById('selected-variant-price').innerText = " ₹" +' '+ price;
		document.getElementById('selected-variant-mrp').innerHTML="₹"+mrp;
	var stockStatus = document.getElementById('stock-status');
    if (stock <= '0') {
        stockStatus.innerText = "Out of Stock";
        stockStatus.classList.add('out-of-stock'); // Add the out-of-stock class
        document.getElementById('addToCartBtn').disabled = true; // Disable the "Add to Cart" button
    } else {
        stockStatus.innerText = "In Stock";
        stockStatus.classList.remove('out-of-stock'); // Remove the out-of-stock class
        document.getElementById('addToCartBtn').disabled = false; // Enable the "Add to Cart" button
    }
    }
	function getSelectedPrice(){
		let selectedVariant=document.querySelector('input[name="variant"]:checked')
		if(selectedVariant){
			return parseFloat(selectedVariant.getAttribute('data-price'))
		}
		return 0
	}
	document.getElementById('addToCartBtn').addEventListener('click', async function() {
    try {
        const selectedVariant = document.querySelector('input[name="variant"]:checked').nextElementSibling.innerText;
        const selectedPrice = getSelectedPrice();
	 	const selectedmrp = parseFloat(document.querySelector('input[name="variant"]:checked').getAttribute('data-mrp'));

        const productId = '{{product._id}}'; 

        const response = await axios.post('/cart/' + productId, {
            selectedVariant: selectedVariant,
            selectedPrice: selectedPrice,
			selectedmrp:selectedmrp
        });

        const data = response.data.data;
		if (data) {
			Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: 'Product added to cart!',
                showConfirmButton: true,
                confirmButtonText: 'OK',
                showCancelButton: true,
                cancelButtonText: 'View Cart'
            }).then((result) => {
                if (!result.dismiss) {
                    // OK button clicked, do nothing
                } else {
                    // View Cart button clicked, redirect to cart page
                    window.location.href = '/cart';
                }
            });
		} else {
			window.location.href = '/login'
		}

        console.log('Product added to cart:', response.data.data);
        // window.location.href = '/cart';
    } catch (error) {
        if (error.response && error.response.status === 401) {
            // Redirect to login page if user is not authenticated
            window.location.href = '/login';
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Error adding product to cart!',
                showConfirmButton: false,
                timer: 2000
            });
            console.log('Error adding product to cart:', error);
        }
    }
})



</script>




    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!-- jquery -->
	<script src="/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/assets/js/main.js"></script>

</body>

</html>